.headlineGen{
    font-family: 'Roboto', sans-serif;
    color: #969696;
}

.interHead{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #969696;
    margin: 0px;
}

.emptyHeadline{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #4e6a9a;
    line-height: 28px;
    font-weight: 400;
    margin: 35px 0px;
}

.master-container{
    position: relative;
}

@media only screen and (max-width: 768px) {
    .headlineGen{
        margin: 10px;
        font-size: 26px;
        font-family: 'Roboto', sans-serif;
        color: #969696;
    }
}

@media only screen and (max-width: 468px) {
    .headlineGen{
        margin: 0px;
    }
}

.forgotPass{
    font-family: 'Roboto', sans-serif;
    color: #969696;
    display: block;
    margin-top: 15px;
}

.paragraphGen{
    font-family: 'Roboto', sans-serif;
    color: #757575;
    font-size: 16px;
}

@media only screen and (max-width: 468px) {
    .paragraphGen{
        font-size: 14px;
    }
    input{
    	margin-top: 7px !important;
    }
}




.search-headline{
    font-family: 'Roboto', sans-serif;
    color: #79a1e4;
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 10px;

}

.searchItem{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #ccc;

}

    .searchItem .side{
        display: inline-block;
        margin-left: -3px;
    }

    .searchItem .l-side{
        width: 24%;
        vertical-align: top;
    }

        .searchItem .l-side .image{
            width: 46px;
            height: 46px;
            text-align: center;
            margin: auto;

        }

            .searchItem .l-side .image img{
                max-width: 100%;
                height: 100%;
                border-radius: 50%;
            }

        .searchItem .l-side span{
            font-family: 'Roboto', sans-serif;
            text-align: center;
            display: block;
        }

        .searchItem .l-side .name{
            color: #464646;
            font-size: 12px;
        }

        .searchItem .l-side .rate{
            color: #79a1e4;
            font-size: 24px;
            font-weight: 800;
        }

    .searchItem .r-side{
        width: 76%;
        padding-left: 10px;
        text-align: left;
        box-sizing: border-box;
    }

        .searchItem .r-side .row{
            display: block;
            margin-bottom: 3px;
        }

            .searchItem .r-side span{
                font-family: 'Roboto', sans-serif;
                font-size: 13px;
            }

            .searchItem .r-side .label{
                color: #464646;
                font-weight: 800;
            }

            .searchItem .r-side .line{
                color: #757575;
                font-weight: 400;
                margin-left: 4px;
            }

    .searchItem .search-button{
        height: 29px !important;
        line-height: 30px !important;
        margin-top: 15px !important;
    }




.applicationItem{
    padding: 15px 0px;
}

    .applicationItem .user{

    }

        .applicationItem .user .image{
            width: 80px;
            height: 80px;
            text-align: center;
            margin: auto;
        }

            .applicationItem .user .image img{
                max-width: 100%;
                height: 100%;
                border-radius: 50%;
            }

        .applicationItem .user span{
            font-family: 'Roboto', sans-serif;
            display: block;
            text-align: center;
        }    

        .applicationItem .user .name{
            color: #464646;
            font-size: 20px;
        }

        .applicationItem .user .rate{
            color: #79a1e4;
            font-size: 32px;
            font-weight: 800;
        }

    .applicationItem .info{
        padding-top: 10px;
        text-align: left;
    }
        .applicationItem .info .row{
            margin-bottom: 8px;
        }

            .applicationItem .info .row span{
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }

            .applicationItem .info .row .label{
                font-weight: 800;
                color: #464646;
            }

            .applicationItem .info .row .line{
                color: #757575;
                font-weight: 400;
                margin-left: 6px;
                line-height: 19px;
            }


.routeItem{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 15px 0px;

}
    .routeItem .small{
        display: block;
        background: #4e6a9a;
    }
        .routeItem .small .left{
            float: left;
            background-color: #4e6a9a;
            width: 30%;
        }
        .routeItem .small .right{
            float: right;
            width: 70%;
            background: #969696;
        }
        .routeItem .small h3{
            color: #fff;
            margin: 0px;
            font-size: 24px;
            font-weight: 800;
        }
        .routeItem .small span{
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }
        .routeItem .small h5{
            color: #fff;
            margin: 0px;
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
        }

    .routeItem .large{
        display: block;
        box-sizing: border-box;
        padding: 10px 5px;
    }
        .routeItem .large .box{
            float: left;
            width: 35%;
        }
            .routeItem .large .box h5{
                color: #0e0e0e;
                font-weight: 400;
                font-size: 14px;
                margin: 0px;
                line-height: 20px;
            }
        .routeItem .large .middle{
            float: left;
            width: 30%;
        }
            .routeItem .large .middle span{
                font-size: 14px;
                display: block;
                font-weight: 300;
                color: #4e6a9a;
                margin-top: -10px;
            }

.ridesItem{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    box-shadow: 0px 0px 8px 1px rgba(77,75,77,1);
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 15px 0px;
}
    .ridesItem .date{
        background: #4e6a9a;
    }
        .ridesItem .date h5{
            font-size: 20px;
            font-weight: 800;
            margin: 0px;
            color: #fff;
            line-height: 37px;
        }

    .ridesItem .general{
        border-bottom: solid 1px #ccc;
        border-top: solid 1px #ccc;
    }
        .ridesItem .general .person{
            padding-top: 10px;
             padding-bottom: 5px;
            box-sizing: border-box;
            background: #fff;
        }
            .ridesItem .general .person .photo-container{
                width: 50px;
                height: 50px;
                text-align: center;
                display: inline-block;
            }
                .ridesItem .general .person .photo-container .photo{
                    max-width: 100%;
                    height: 100%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                }

            .ridesItem .general .person .info{
                 display: inline-block;
                 vertical-align: top;
                 padding: 0px 10px;
            }

                .ridesItem .general .person .info h5{
                    margin: 4px;
                    font-size: 16px;
                    font-weight: 800;
                    color: #000;
                }

                .ridesItem .general .person .info h3{
                    margin: 5px;
                    font-size: 20px;
                    font-weight: 800;
                    color: #43c978;
                }

        .ridesItem .general .sent{
            background: #b3b2b2;
        }

        .ridesItem .general .accepted{
            background: #43c978;
        }

        .ridesItem .general .declined{
            background: #F44336;
        }

        .ridesItem .general .canceled{
            background: #F44336;
        }
            .ridesItem .general .status h3{
                 margin: 0px;
                color: #fff;
                font-size: 22px;
                line-height: 40px;
            }

    .ridesItem .ride{
        display: block;
        box-sizing: border-box;
        padding: 10px 5px;
    }
        .ridesItem .ride .box{
            float: left;
            width: 35%;
        }
            .ridesItem .ride .box h5{
                color: #0e0e0e;
                font-weight: 400;
                font-size: 14px;
                margin: 0px;
                line-height: 20px;
            }
        .ridesItem .ride .middle{
            float: left;
            width: 30%;
        }
            .ridesItem .ride .middle span{
                font-size: 14px;
                display: block;
                font-weight: 300;
                color: #4e6a9a;
                margin-top: -10px;
            }
    .ridesItem .action{
        padding: 5px;
    }


.notificationItem{
    font-family: 'Roboto', sans-serif;
    position: relative;
    border: solid 2px #4e6a9a;
    margin-top: 15px;
    padding: 0px;
}
    .notificationItem .title{
        padding: 5px 10px;
        box-sizing: border-box;
        background: #4e6a9a;
    }
        .notificationItem .title .type{
            float: left;
            width: 25%;
        }

        .notificationItem .title .text{
            float: left;
            width: 75%;
            display: table;
            height: 34px;
        }
            .notificationItem .title .text h3{
                margin: 0px;
                color: #fff;
                font-size: 16px;
                display: table-cell;
                vertical-align: middle;
            }

    .notificationItem .subject{
        padding: 10px;
        box-sizing: border-box;
    }
        .notificationItem .subject .text{

        }
            .notificationItem .subject .text h5{
                 margin: 0px;
                 margin-bottom: 10px;
                 font-size: 14px;
                 font-weight: 800;
            }
            .notificationItem .subject .text p{
                font-size: 14px;
                margin: 0px;
                text-align: justify;
            }

        .notificationItem .subject .actions{

        }

.passengerInfo{
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
    
}

    .passengerInfo .person{
        box-sizing: border-box;
        padding: 5px;
    }

        .passengerInfo .person .image{
            float: left;
            width: 30%;
        }

            .passengerInfo .person .photo-container{
                width: 50px;
                height: 50px;
                text-align: center;
                display: inline-block;
                
            }
                .passengerInfo .person .photo-container .photo{
                    max-width: 100%;
                    height: 100%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                }

        .passengerInfo .info{
            float: left;
            width: 70%;
        }

            .passengerInfo .info h5{
                margin: 4px;
                font-size: 16px;
                font-weight: 800;
                color: #000;
            }

            .passengerInfo .info h3{
                margin: 5px;
                font-size: 20px;
                font-weight: 800;
                color: #43c978;
            }

    .passengerInfo .ride{
        box-sizing: border-box;
        padding: 5px;
        border-top: solid 1px #ccc;
    }

        .passengerInfo .ride .box{
           float: left;
            width: 35%;
        }
                .passengerInfo .ride .box h5{
                    color: #0e0e0e;
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0px;
                    line-height: 20px;
                }
            .passengerInfo .ride .middle{
                float: left;
                width: 30%;
            }
                .passengerInfo .ride .middle span{
                    font-size: 14px;
                    display: block;
                    font-weight: 300;
                    color: #4e6a9a;
                    margin-top: -10px;
                }
.surveyItem{
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: none;
}
    .surveyItem .question{
        padding: 5px;
        box-sizing: border-box;
    }
        .surveyItem .question h5{
            margin: 0px;
            font-weight: 400;
            text-align: justify;
            line-height: 18px;
            font-size: 14px;
        }

.loader{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 254, 254, 0.8);
    z-index: 99;
    display: none;

}

    .loader .loader-container{
        text-align: center;
        margin-top: 100px;
    }
